{% extends 'layout.html' %}

{% block title %} Average {% endblock %}

{% block content %}
<div class="row row-sm mg-b-20">
    <div class="col-lg-6 ht-lg-100p">
        <div class="card card-table-one">
            <h6 class="card-title">Prix moyens des restaurants</h6>
            <p class="az-content-text mg-b-20">Tableau récapitulatifs des prix moyens dans les catégories restaurant</p>
            <div class="table-responsive">
                {% if town_data is defined and town_data|length > 0 %}

                <table class="table">
                    <thead>
                        <tr>
                            <th class="wd-45p">Villes</th>
                            <th>Nombre</th>
                            <th>Moyenne</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in town_data %}
                        <tr>
                            <td><strong>{{ item.town_name }}</strong></td>
                            <td>{{ item.count_point }}</td>
                            <td>FCFA {{ item.average_amount }} </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>Aucun données suffisante</p>
                {% endif %}
            </div><!-- table-responsive -->
        </div><!-- card -->
    </div><!-- col-lg -->

    <div class="col-lg-6 ht-lg-100p">
        <div class="card card-table-one">
            <h6 class="card-title">Prix moyens des hôtels</h6>
            <p class="az-content-text mg-b-20">Graphe répresentatif des prix moyens dans les catégories hôtel</p>
            {% if town_data is defined and town_data|length > 0 %}

            <div class="plot">
                <img src={{ restaurant_data }} alt="restaurant_data" />
            </div><!-- table-responsive -->
            {% else %}
            <p>Aucun données suffisante</p>
            {% endif %}
        </div><!-- card -->
    </div><!-- col-lg -->
</div><!-- row -->



{% endblock %}