{% extends 'layout.html' %}

{% block title %} DAB & Banques {% endblock %}

{% block content %}
<div class="row row-sm mg-b-20">
    <div class="col-lg-6 ht-lg-100p">
        <div class="card card-table-one">
            <h6 class="card-title">Histogramme de nombre de banques</h6>
            <p class="az-content-text mg-b-20">Part of this date range occurs before the new users
                metric had been calculated, so the old users metric is displayed.</p>
            <div class="plot">
                <img src={{ countBank_dataGraph }} alt="countBank_data" />
            </div><!-- table-responsive -->
        </div><!-- card -->
    </div><!-- col-lg -->
    <div class="col-lg-6 ht-lg-100p">
        <div class="card card-table-one">
            <h6 class="card-title">Nombres de Banques par ville</h6>
            <p class="az-content-text mg-b-20">Part of this date range occurs before the new users
                metric had been calculated, so the old users metric is displayed.</p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="wd-45p">Villes</th>
                            <th style="text-align: right;">Nombre de banques</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for town, bank_count in countBank %}
                        <tr>
                            <td>{{ town }}</td>
                            <td style="text-align: right;">{{ bank_count }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div><!-- table-responsive -->
        </div><!-- card -->
    </div><!-- col-lg -->
</div><!-- row -->



{% endblock %}